<!-- <nav class="nav" role="navigation">
  <div class="max-centered">
      <h1 class="nav__logo">Rule of thumb.</h1>
      <button class="nav__hamburger icon-button" alt="Open Menu">
          <svg width="25" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h25v4H0V0zm0 8h25v4H0V8zm0 8h25v4H0v-4z" fill="#FFF" fill-rule="nonzero"/></svg>
      </button>
      <ul class="nav__links">
          <li>
              <a href="#">Past Trials</a>
          </li>
          <li>
              <a href="#">How It Works</a>
          </li>
          <li>
              <a href="#">Login / Sign Up</a>
          </li>
         
          <li>
              <form action="javascript:void(0)">
                  <input class="nav__search-input" aria-label="search" type="text">
                  <button class="nav__search icon-button" alt="Search" type="submit">
                      <img src="assets/img/search.svg" alt="search">
                  </button>
              </form>
          </li>
      </ul>
  </div>
</nav> -->
<!-- <div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <button class="btn-primary" (click)="cambioDiseno('horizontal')">
      horizontal
    </button>
    <button class="btn-primary" (click)="cambioDiseno('vertical')">
      vertical
    </button>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav> -->
<nav role='navigation'>
  <div id="menuToggle">
   
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
     <li>
      <button class="btn-primary" (click)="cambioDiseno('horizontal')">
        horizontal
      </button>
     </li>
     <li>
      <button class="btn-primary" (click)="cambioDiseno('vertical')">
        vertical
      </button>
     </li>
    </ul>
  </div>
</nav>

<div class="max-centered">

  <main role="main" class="flex-wrap d-flex align-items-center flex-wrap" [ngClass]="{'flex-column': vertical, 'flex-initial':horizontal}">
      <!-- Start: Implementation -->
      <div class="col-xl-3 mx-3 mb-3" *ngFor="let persona of data; let i = index">
        
        <div class="featured-card__content" style="background-color:#72a7fc">
            <p class="featured-card__hairline">What's your opinion on</p>
            <h2 class="featured-card__title">{{persona.name + i}}</h2>
            <img class="w-100" [src]="persona.picture" alt="">
            <p class="featured-card__desc">
            </p>
            <p>
              {{persona.description}}

            </p>
           <div class="d-flex">
             <p>

               Category:
             </p>
            
            <p>
               {{persona.category}}

             </p>
             <br>
            </div>
            <p *ngIf="votosBolean[i] == true">
              Thanks for vote
            </p>
            <div class="d-flex">
             <p class="me-3">
               Positives: {{persona.votes.positive}}
             </p>
             <p>
               Negatives : {{persona.votes.negative}}
             </p>
            </div>
            <div class="featured-card__buttons">
                <button class="icon-button" (click)="positivo(i)" aria-label="thumbs up">
                    <img src="assets/img/thumbs-up.svg" alt="thumbs up" />
                </button>
                <button *ngIf="votosBolean[i] == false" class="btn btn-success" disabled (click)="votar(i)" [id]="'a' + i" >
                    Vote Now
                </button>
                <button *ngIf="votosBolean[i] == true" class="btn btn-warning" (click)="voteAgain(i)" [id]="'aa' + i">
                  Vote Again
              </button>
                <button class="icon-button" (click)="negativo(i)" aria-label="thumbs down">
                    <img src="assets/img/thumbs-down.svg" alt="thumbs down" />
                </button>
            </div>
        </div>
    </div>
      <!-- End: Implementation -->
  </main>
 <!--  <aside class="banner banner-bottom" role="doc-tip" aria-label="Submit a name">
      <img
          srcset="assets/img/bg-people.png 750w, assets/img/bg-people.@2x.png 1440w"
          sizes="(min-width: 750px) 1440px, 100vw"
          class="banner__background" src="assets/img/bg-people.png"
          alt=""
          role="none">
      <div class="banner__left">
          <h2 class="banner__heading">Is there anyone else you would want us to add?</h2>
      </div>
      <div class="banner__right">
          <button class="banner__cta">
              Submit a name
          </button>
      </div>
  </aside> -->
  <hr role="separator">
  <footer class="footer">
      <div class="footer__links">
          <ul>
              <li>
                  <a href="#">Terms and Conditions</a>
              </li>
              <li>
                  <a href="#">Privacy Policy</a>
              </li>
              <li>
                  <a href="#">Contact Us</a>
              </li>
          </ul>
      </div>
      <div class="footer__social">
          <span>Follow us</span>
          <ul>
              <li>
                  <a href="#">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M24 1.325v21.35c0 .732-.593 1.325-1.325 1.325H16.56v-9.294h3.12l.467-3.622H16.56V8.771c0-1.048.292-1.763 1.796-1.763h1.918v-3.24a25.663 25.663 0 00-2.795-.143c-2.766 0-4.659 1.688-4.659 4.788v2.671H9.691v3.622h3.128V24H1.325A1.325 1.325 0 010 22.676V1.325A1.325 1.325 0 011.325 0h21.35A1.325 1.325 0 0124 1.325z" fill="#262626" fill-rule="nonzero"/></svg>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <svg width="26" height="23" xmlns="http://www.w3.org/2000/svg"><path d="M23.329 6.204c.01.23.01.458.01.687A15.182 15.182 0 01-.008 19.688c.421.05.845.075 1.27.073a10.7 10.7 0 006.627-2.289 5.335 5.335 0 01-4.984-3.704c.798.151 1.62.12 2.404-.094a5.346 5.346 0 01-4.276-5.233v-.073a5.396 5.396 0 002.413.666 5.357 5.357 0 01-1.654-7.127A15.15 15.15 0 0012.79 7.484a5.898 5.898 0 01-.135-1.217 5.336 5.336 0 019.228-3.652 10.612 10.612 0 003.392-1.29 5.368 5.368 0 01-2.351 2.955 10.811 10.811 0 003.07-.843 10.868 10.868 0 01-2.664 2.767z" fill="#262626" fill-rule="nonzero"/></svg>
                  </a>
              </li>
          </ul>
      </div>
  </footer>
</div>